@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/zoom-background-contemporary-living-room-interior-design.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

#root {
  height: 100%; /* Ensure root element fills the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
